@page "/listing/create/policy/{ID}"
@model AMMasterProject.Pages.Listing.create.policyModel
@{
    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}
<title class="notranslate" data-translate="listingdetails">

    Listing Details
</title>

<form method="post">
<div>

    <div class="row large-form">

        <partial name="/Pages/listing/create/_tab.cshtml" model="@Model.productguid" />

        <div class="col-md-10 l-tabs-content form">

                <a class="skip-btn" href="~/listing/create/shipping/@Model.productguid">
                    <span class="notranslate" data-translate="skip">

                        Skip
                    </span>
                  
                </a>
            <h5 class="l-tabs-heading">
                    <span class="notranslate" data-translate="policies">

                        Policies
                    </span>
               
            </h5>
          
            <div class="white-bg paddingtb">
                <div class="row paddingrf-15 no-margin">
                    <div class=" col-md-3 s-bold">
                            <span class="notranslate" data-translate="returnpolicy">

                                Return Policy
                            </span>
                        
                    </div>
                    <div class="col-md-9 no-padding">
                        <div class="form-group">

                                <textarea rows="2" asp-for="@Model.product.ReturnPolicy"></textarea>



                        </div>
                            <span asp-validation-for="@Model.product.ReturnPolicy" class="required"></span>

                    </div>


                </div>     

                <hr/>
                <div class="row paddingrf-15 no-margin">
                    <div class=" col-md-3 s-bold">
                            <span class="notranslate" data-translate="cancellationpolicy">

                                Cancellation Policy  
                            </span>
                        
                    </div>
                    <div class="col-md-9 no-padding">
                        <div class="form-group">

                            <textarea rows="2" asp-for="@Model.product.CancellationPolicy"></textarea>



                        </div>
                            <span asp-validation-for="@Model.product.CancellationPolicy" class="required"></span>

                    </div>


                </div>
                <hr/>
                <div class="row paddingrf-15">
                    <div class=" col-md-6 checkright">
                    </div>
                    <div class=" col-md-6 right">
                            <button type="submit">
                                <span class="notranslate" data-translate="saveandcontinue">

                                    Save and Continue
                                </span>
                        </button>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</form>


<script>
    $(document).ready(function () {
        $('#product_ReturnPolicy').summernote();
        $('#product_CancellationPolicy').summernote();
    });
</script> 