@using AMMasterProject.ViewModel
@model List<OrderViewModel>

@{
    int previousSellerID = 0;
    bool IsMultiVendor = bool.Parse (@Context.Items["IsMultiVendor"].ToString());
    
}

@if (Model != null && Model.Count > 0)
{

    @foreach (var item in Model)
    {
        

        if (IsMultiVendor == true)
        {
            if (item.SellerViewModel.ProfileId != previousSellerID)
            {

           <a target="_blank" href="/user/@item.SellerViewModel.BusinessUrlpath">
               <div class="padding15 store-name">@item.SellerViewModel.BusinessName</div>
                </a>
                previousSellerID = item.SellerViewModel.ProfileId;
                <hr class="no-margin" />
          
            }
        }

       
        <div class="padding15">
            <div class="row">
                <div class="col-md-2 shopping-cart">
                    <a target="_blank" href="@item.ItemDetailMetaData.basicModel.ItemURL" data-toggle="tooltip" data-placement="bottom" title="" s="" hooded="" thrasher="" flame'="">
                        <img src="@item.ItemDetailMetaData.basicModel.ItemImage">
                    </a>
                </div>
                <div class="col-md-8 col-xs-10 shopping-detail">
               
                    <p class="p-name no-margin">
                        <a target="_blank" href="@item.ItemDetailMetaData.basicModel.ItemURL" >
                        @item.ItemDetailMetaData.basicModel.Name
                        </a>
                    </p>
                    @if (item.ItemDetailMetaData.variationModel.Count>0)
                    {
                        
                        @foreach (var variationList in item.ItemDetailMetaData.variationModel)
                        {   <span class="badge l-grey-bg black-c m-bold">
                            @variationList.VariationName</span>
                        }
                    }
                 
                    <div class="cart-p-price no-margin">@item.SummaryOrderMetaData.Currency


                        @{
                            var totalAmount = item.SummaryOrderMetaData.TotalQty;
                        }

                        @totalAmount.ToString("N2")
                        <p class="no-margin grey-c small l-bold">
                           @*  //FIX IT *@
                         @if (@item.SummaryOrderMetaData.ShippingCost>0)
                         {
                                <span>+ <span class="notranslate" data-translate="shipping">Shipping</span>:</span>
                                <span>  @item.SummaryOrderMetaData.Currency</span>
                                <span>@item.SummaryOrderMetaData.ShippingQtyCost.ToString("N2")</span>

                            }
                            else
                            {
                                <span class="green-c notranslate" data-translate="freeshipping">
                                    
                                    Free Shipping</span>
                            }

                    </p>
                    </div>


                    
                   

                 
                    @if (item.SummaryOrderMetaData.ChargesTotal>0)
                    {
                       

                        @foreach (var chargeList in item.ItemDetailMetaData.chargesModel)
                        {

                            var chargelistQyty = @chargeList.ConversionAmount * item.ItemDetailMetaData.basicModel.Quantity;
                            <span class="no-margin grey-c small l-bold">
                                + @chargeList.ChargesName @item.SummaryOrderMetaData.Currency @chargelistQyty.ToString("N2")
                              </span> <br/>


                        }
                       
                    }

                    <span class="cart-sub-total" id="subtotalSpan_@item.OrderId" style="display: @(item.ItemDetailMetaData.basicModel.Quantity > 1 || @item.SummaryOrderMetaData.ShippingQtyCost > 0 || @item.ItemDetailMetaData.chargesModel.Sum(u=>u.ConversionAmount) > 0 ? "block" : "none")">

                        <span class="notranslate" data-translate="subtotal">

                            Sub Total
                        </span>:
                        
                        

                        <span class="cart-p-price">
                        @item.SummaryOrderMetaData.Currency</span>
                        <span class="cart-p-price" id="subtotalValue_@item.OrderId">@item.SummaryOrderMetaData.GrandTotal.ToString("N2")</span>
                    </span>
                   @*  <p> @item.ItemDetailMetaData.Instruction </p> *@
                </div>
                <div class="col-md-2 col-xs-6 shopping-action">
                    <a id="aorderremove_@item.OrderId" onclick="deleteCart(@item.OrderId)" class="aorderremove order-remove cart-delete"></a>

                    <div class="cart-qty form">
                        <span class="notranslate" data-translate="qty">

                            QTY
                        </span>
                        
                        <input type="number" class="txtorder txtqty"  onchange="QuantityCart(@item.OrderId, this.value, '')" min="1" value="@item.ItemDetailMetaData.basicModel.Quantity">
                   
                    
                    
                    
                    
                    
                    
                    
                    
                    </div>
                </div>
            </div>

        </div>



     

    }

    //itemtotal + variation total
    var groupTotal = Model.Sum(x => x.SummaryOrderMetaData.TotalQty);

    var ShippingCost = Model.Sum(x => x.SummaryOrderMetaData.ShippingQtyCost);


    var grandTotal = Model.Sum(x => x.SummaryOrderMetaData.GrandTotal);

   

    <div class="cart-total">
        <h3 class="m-none">

            <span class="notranslate" data-translate="summary">

             Summary
            </span>
            </h3>
        <hr class="m-none"/>
        <p class="margin5">
            <span class="grey-c notranslate" data-translate="subtotal">
            
            
            Sub Total:</span>
        <span class="s-bold float-end">
                @Model.FirstOrDefault()?.SummaryOrderMetaData.Currency @groupTotal.ToString("N2")
            </span>
        </p>
        <p class="margin5">




            <span class="grey-c notranslate" data-translate="shipping">Shipping:</span>
        <span class="s-bold grey-c float-end">
              +  @Model.FirstOrDefault()?.SummaryOrderMetaData.Currency @ShippingCost.ToString("N2")
        </span>
        </p>


        @*  charges list *@

        @{
            Dictionary<string, decimal> chargeTotals = new Dictionary<string, decimal>();

            foreach (var item in Model)
            {
                if (item.SummaryOrderMetaData.ChargesTotal > 0)
                {
                    foreach (var chargeList in item.ItemDetailMetaData.chargesModel)
                    {
                        var chargelistQyty = chargeList.ConversionAmount * item.ItemDetailMetaData.basicModel.Quantity;

                        if (chargeTotals.ContainsKey(chargeList.ChargesName))
                        {
                            // Charge label already exists in the dictionary, add the amount
                            chargeTotals[chargeList.ChargesName] += chargelistQyty;
                        }
                        else
                        {
                            // Charge label doesn't exist in the dictionary, add it with the initial amount
                            chargeTotals.Add(chargeList.ChargesName, chargelistQyty);
                        }
                    }
                }
            }
        }

        @foreach (var chargeTotal in chargeTotals)
        {
            <p class="margin5">
                <span class="grey-c">@chargeTotal.Key:</span>
                <span class="s-bold grey-c float-end">
                    + @Model.FirstOrDefault()?.SummaryOrderMetaData.Currency @chargeTotal.Value.ToString("N2")
                </span>
            </p>
        }

        @* @foreach (var item in Model)
        {
            @if (item.SummaryOrderMetaData.ChargesTotal > 0)
            {


                @foreach (var chargeList in item.ItemDetailMetaData.chargesModel)
                {

                    var chargelistQyty = @chargeList.ConversionAmount * item.ItemDetailMetaData.basicModel.Quantity;
                    <p class="margin5">




                        <span class="grey-c">@chargeList.ChargesName:</span>
                        <span class="s-bold grey-c float-end">
                           + @item.SummaryOrderMetaData.Currency  @chargelistQyty.ToString("N2")
                        </span>
                    </p>


                }

            }
        } *@



        <span class="heading notranslate" data-translate="grandtotal">Grand Total:</span>
        <span class="amount">
            @Model.FirstOrDefault()?.SummaryOrderMetaData.Currency @grandTotal.ToString("N2")
        </span> <a href="../shipping" class="theme-bg f-theme btn" type="button">
            <span class="notranslate" data-translate="checkout">
                 Checkout
            </span>
            
            </a>

    </div>
}


else

{
    <div class="emptycart">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="M130.519 22.322a7.6 7.6 0 0 1-2.579 0c.533.827 2.023.49 2.579 0ZM126.8 26.108c-.283 2.874 1.041 6.387 2.98 3.862-.916.544-1.823-.512-2.98-3.862ZM130.659 25.553c0-.13-.359-.958-.5-.979s-.477.152-.359.413.827 1.643.859.566ZM124.882 27.338c.12.293.762 1.653.893.674a2.182 2.182 0 0 0-.468-.968c-.197-.066-.544 0-.425.294ZM133.662 30.5c-1.61-.675-3.807.228-3.5 2.176a12.221 12.221 0 0 0 1.738-.96c.258-.116 1.774-1.005 1.762-1.216Zm-.617.127c-1.033.6-1.625 1.037-2.637 1.657.333-2.099 2.264-1.599 2.637-1.653ZM123.431 127.258c-.021 1.141.279-5.007 0 0Z" /><path d="M187.606 35.954a48.155 48.155 0 0 0-1.219-5.734c-.239-.9-.5-1.784-.794-2.665-.207-.62-.369-1.491-1.011-1.806a4.662 4.662 0 0 0 2.448-.979c.565-.5.87-1.328-.208-1.393.544-.359 1.414-1.088 1.088-1.871s-.99-.414-1.49-.164c.882-1.468-.457-1.816-1.633-1.294-.544.239-1.088.511-1.6.761.347-1.479-.839-1.86-1.829-1.088a6.9 6.9 0 0 0-2.286 5.44 9.7 9.7 0 0 0-.87.61c-5.154 4.821-6.978 11.448-7.29 18.528-3.279-8.228-12.312-15.383-20.094-11.968-.882.447-1.676 1.36-2.72 1.469-1.513.152-2.6-1.578-3.264-2.687a20.368 20.368 0 0 1-1.263-2.514 5.2 5.2 0 0 0 1.088-1.871c.806-2.546-.054-5.44-.522-7.921-.61-3.383-1.741-6.865-4.353-9.226a11.128 11.128 0 0 0-10.564-2.426 16.327 16.327 0 0 0-8.5 5.679c-2.383 3.188-2.871 7.029-2.535 10.881a62.454 62.454 0 0 0 3.115 14.209c1.99-1.317 3.97-2.644 5.971-3.95.154.163.285.326.447.479a5.324 5.324 0 0 0 2.5 1.338c-5.973 1.719-11.175 7.779-14.352 12.447-.684-1.915-1.413-3.786-2.24-5.6q1.49-3.33 2.926-6.67-1.632 2.982-3.264 6.006a28.356 28.356 0 0 0-7.334-9.922 29.308 29.308 0 0 0-3.7-2.6 5.165 5.165 0 0 0-1.895-.838c-.588-.076-.348.12-.64-.315-.165-.25-.246-.627-.394-.9a5.491 5.491 0 0 0-3.264-2.731c-.533-.142-1.4-.37-1.848.076s-.12 1.251.272 1.654c-.685.076-1.427.087-2.1.228-1.273.272-1.577 1.241-.359 1.937-.642.065-1.426.25-1.088 1.088s1.231.848 1.861.86c-.946.674 0 1.261.772 1.327.424 0 2.09 0 2.328-.479a9.066 9.066 0 0 0-.553 2.6c-.176 1.088-.35 2.177-.492 3.264a35.344 35.344 0 0 0-.216 6.528A39.14 39.14 0 0 0 97.116 56a23.3 23.3 0 0 0 5.332 8.139q-2.068 4.548-4.036 9.128 2.338-4.275 4.59-8.617l.283.261A18.19 18.19 0 0 0 115 69.106c-2.471 2.644-4.81 5.44-6.976 8.236a108.24 108.24 0 0 0 8.346-8.247 28.274 28.274 0 0 0 10.141-2.2 3.663 3.663 0 0 0 .729-.305l.087-.076v.2l.588 4.547c.173 1.35.281 2.731.575 4.059a6.493 6.493 0 0 0 .413 1.262c-.086.489-.184.989-.259 1.49q-7.128 4-14.145 8.247 7.007-3.427 13.916-7.115c-.457 2.916-.8 5.853-1.013 8.791a84.322 84.322 0 0 0 .413 17.332c-5.875-2.329-11.509-5.31-17.168-8.138q-12.9-6.278-25.926-12.327c-4.43-2.046-8.889-4.037-13.439-5.789a22.19 22.19 0 0 0-3.775-1.327 27.281 27.281 0 0 0-.924-6.811 4.356 4.356 0 0 0-2.916-3.721c-11.747-3.917-14.413-4.134-19.585-2.59a1.917 1.917 0 0 0-1.022-.522c-1.193-.188-2.72.533-3.884.762-3.187.62-6.655 1.488-10.587 2.437-1.566.357-6.96 1.1-7.245 2.872a6.66 6.66 0 0 0-1.088.272c-3.972.987-6.679 1.209-7.845 3.34-3.243 5.969 10.37 7.2 11.478 10.728a61.811 61.811 0 0 1 1.088 6.582c.9 5.06 8.611 47.63 8.879 48.885.173.838.228 2.361.848 3.025a1.513 1.513 0 0 0 1.947.108c3.166 1.262 6.354 2.492 9.533 3.721-.138.035-2.785 1.08-2.885 1.121-1.414.555-3.437 1.088-4.167 2.535s-.533 3.264-.642 4.733c-.135 1.858-.517 6.807-.5 7.67a3.221 3.221 0 0 0-1.109 2.546c-3.558 1.175-2.176 7.236 1.784 6.626a4.352 4.352 0 0 0 3.482-3.09 3.264 3.264 0 0 0-1.747-3.755 2.1 2.1 0 0 0 .078-1.675 1.318 1.318 0 0 0 .281-1.175l60.841 24.078a3.747 3.747 0 0 0-.4 1.829c-3.6 1.01-2.372 7.375 1.786 6.668a4.3 4.3 0 0 0 3.405-3.145 3.232 3.232 0 0 0-1.829-3.688 2.711 2.711 0 0 0 .217-.467 12.111 12.111 0 0 0 4.778.717c3.165-.25 5.755-2.175 8.322-3.808 2.841-1.86 5.886-3.383 8.7-5.353 1.088-.76 2.83-1.925 2.633-3.448-.326-2.579-3.754-4.179-5.767-5.223-.1-.052-12.137-6.009-12.239-6.049q6.82-4.179 13.621-8.378c2.176-1.371 4.549-2.677 6.671-4.211 1.1-.8.931-1.333 2.512-12.457 6.927 27.587 5.568 27.491 6.485 28.234a2.676 2.676 0 0 0 1.273.228c-2.11.675-4.493 1.088-6.311 2.318-.838.543-1.435 1.631-.489 2.415a5.735 5.735 0 0 0 3.177.783c2.188.181 9.531.166 10.118-1.947a7.11 7.11 0 0 0-.337-3.33c.632 0 .737.212 1.947-6.657q.752-4.179 1.307-8.389a15.832 15.832 0 0 0 .325-4.092c-.815-6.245-1.545-12.5-2.839-18.67-2.546-12.153-3.144-24.6-3.568-36.992 1.163 12.284 1.795 24.7 4.46 36.775 1.9 8.595 2.535 17.473 3.471 26.221.457 4.244.848 8.509 1.512 12.729l1.351.414.457.065c-2.264.849-4.974 1.328-6.986 2.676-.828.557-1.4 1.654-.457 2.417 2.339 1.332 8.015.749 10.542.216 1.024-.239 2.427-.413 2.731-1.588a7.19 7.19 0 0 0-.391-3.34 1.511 1.511 0 0 0 .762-.838 36.39 36.39 0 0 0 1.424-5.668c1.474-8.251 2.992-16.538 4.265-24.818.893-5.8 1.741-11.609 2.613-17.408 1.4-9.281 2.827-18.66 2.479-28.081a83.706 83.706 0 0 0-1.284-11.808c-.552-3.17-1.635-7.813-3.351-10.521a6.593 6.593 0 0 0-.379-5.526 13.426 13.426 0 0 0 2.043.587c4.168.783 7.911-1.73 10.75-4.57a23.081 23.081 0 0 0 5.952-10.445 38.611 38.611 0 0 0 .544-14.871Zm-6.734-14.982c.249-.282 1.806-1.969 1.881-.761a3.383 3.383 0 0 1-.064.936c0 .141 0 .359.13.359a.246.246 0 0 0 .108 0 22.639 22.639 0 0 1 2.306-1.088c.25-.109.572-.2.784 0a.523.523 0 0 1 .076.652 1.54 1.54 0 0 1-.489.5 4.092 4.092 0 0 0-1.088.968.25.25 0 0 0 0 .153.173.173 0 0 0 .174.13.434.434 0 0 0 .228-.076 9.922 9.922 0 0 1 1.938-1.088c.293-.076.694 0 .608.4a.774.774 0 0 1-.162.327 10.139 10.139 0 0 1-1.84 1.523c-.087.076-.185.185-.142.294a3.6 3.6 0 0 0 1.089-.2c.163-.054.632-.293.7 0s-.577.783-.892.979c-1.654 1.088-3.472.457-5.267.174a4.468 4.468 0 0 0-1.435-.087 5.7 5.7 0 0 1 1.357-4.095Zm-30.518 12.012.053-.043h.109a43.012 43.012 0 0 0-1.783 4.983c-.448 2-.208 4.1-.73 6.082-1.357 5.135-6.6 4.3-8.606.957 2.588-.7 4.177-2.937 5.44-5.124 1.088-1.85 2.045-4.657 3.938-5.974a17.038 17.038 0 0 0 1.579-.881Zm-26.428-6.615c-.067-.261-.11-.533-.165-.8.6-.3 1.209-.957 1.024-1.61a8.346 8.346 0 0 1-1.088 1.327 10.46 10.46 0 0 1-.066-3.373c.164-1 .631-.707 1.524-.631l2.72.207q2.123.085 4.232.38a5.439 5.439 0 0 1 3.263 2.177 13.79 13.79 0 0 1 3.352 7.714 12.8 12.8 0 0 0 4.614-2.786 18.732 18.732 0 0 0 1.837 3.438 3.837 3.837 0 0 0 2.317 1.774 1.622 1.622 0 0 0 .937-.163c-1.6 1.088-2.361 3.264-3.265 4.733-1.152 1.893-2.4 3.992-4.351 5.124-4.089 2.375-7.308-.457-6.061-4.526a10.446 10.446 0 0 1 .707-1.774q.219-.413.457-.8a4.946 4.946 0 0 1 .468-.609c.295.076.741.087.926.37a2.138 2.138 0 0 1-.4 2.209c.037-.1 1.449-.521.579-3.068-.166-.588-.579-2.721-1.274-2.546-.409.1-.426.738-2.34 1.664-3.112 1.5-6.416 1.194-9.947-8.431Zm12.162 9.672.055-.043c-2.512 2.926-3.678 9.27 2.175 9.1-1.207 1.089-2.591 2.728-4.351 2.579a3.231 3.231 0 0 1-2.905-2.992 9.641 9.641 0 0 1 1.284-4.928c.192-.344 2.373-3.265 2.971-3.907.227.072.5.126.771.191Zm-1.969-.653a7.345 7.345 0 0 0 2.252-1.718 16.328 16.328 0 0 1 .9 2.426 8.22 8.22 0 0 0-3.152-.708ZM94.876 31.4c-.447.076-1.329.272-1.741 0s-.262-.457.13-.632.783-.076.968-.3c.359-.457-.316-.479-.664-.512s-1.882.066-2.089-.435 1.088-.424 1.405-.435 1.61.12 1.739-.326-1.338-.468-1.588-.512-1.49-.195-.979-.783c.272-.3 1.261-.261 1.643-.316s1.73 0 1.926-.381-.794-.783-.947-1.185c-.218-.62.315-.631.794-.588a4.553 4.553 0 0 1 3.264 1.97 4.113 4.113 0 0 1 .7 1.229c.163.653-.249.664-.794.99-1.234.816-2.267 1.983-3.767 2.216Zm7.865 32.063c-4.972-4.863-6.953-12.6-7.4-19.323v-.022a45.992 45.992 0 0 1 .119-6.364 30.927 30.927 0 0 1 .8-5.44 2.416 2.416 0 0 1 1.262-1.534 7.192 7.192 0 0 1 2.317-1.393c1.514-.229 3.536 1.6 4.635 2.448a27.514 27.514 0 0 1 7.551 9.357c.294.566.544 1.153.806 1.73q-5.314 10.114-10.09 20.537ZM67.272 78.6a37.194 37.194 0 0 1 5.995 2.329c2.306.957 4.581 1.969 6.855 2.991 4.649 2.1 55.141 25.754 55.772 26.069.086 0 .228.131.37.229a8510.1 8510.1 0 0 0-6.834 3.22q-4.8 2.264-9.487 4.744c-19.349 10.212-15.876 8.223-16.665 8.84-.3-.282-.651-.276-1.027-.44-9.1-5.063-16.379-8.227-34.325-16.854a282.248 282.248 0 0 0-1.088-30.747 1.079 1.079 0 0 0 .434-.381Zm62.539 44.413c-.153 1.991-.24 3.982-.381 5.963q-3.144 1.674-6.277 3.383c.127-2.372.216-4 .278-5.105.008-.455.066-2.065.233-6l6.712-3.753c.056.878-.071-1.212-.565 5.516Zm1.088-5.767c.1-.055 6.112-3.442 6.212-3.514-.794 4.124-1.5 8.247-2.154 12.371l-5.146 2.731c.371-3.859.871-7.699 1.089-11.584Zm-1.5 12.393a76.148 76.148 0 0 1-.328 3.492c-.466 3.656-.87 7.313-1.185 10.978a107.447 107.447 0 0 1-5.08 3.264c.1-3.024.174-6.266.174-9.269l.009.032c0-1.587.055-3.166.132-4.744 1.706-1.008 4.708-2.808 6.279-3.749Zm-6.268-7.54c-.036.51-.539 10.483-.544 10.586 0 0-4.341 2.328-6.147 3.308 0-.143.333-10.837.337-10.978 2.123-1.154 4.244-2.3 6.354-3.471Zm-6.756 1v1.033c-3.068 1.632-3.224 1.6-6.441 3.471 0-1.088-.076-2.263-.152-3.394l6.875-3.515a7.875 7.875 0 0 0-.283 2.406Zm-45.86-8.617c0 .707.1 1.4.153 2.1-1.807-.838-6.094-2.882-6.094-2.882a87.51 87.51 0 0 0-.489-4.462c5.469 2.51 3.537 1.6 6.43 2.927a8.725 8.725 0 0 0-.001 2.322Zm6.213 2.644-.022.032c0 .729 0 1.469.066 2.177l-5.672-2.574a95.658 95.658 0 0 0-.522-4.591l6.081 2.785a13.758 13.758 0 0 0 .068 2.176Zm24.2 9.291c.479.251 1.86.708 2.1 1.2a4.045 4.045 0 0 1 0 1.088l.151 1.7v1.088h-.25a11.5 11.5 0 0 1-1.653-.772l-4.353-2.046a118.886 118.886 0 0 0-.339-4.48c.034.017 3.248 1.681 4.34 2.227Zm2.515 17.528a6.8 6.8 0 0 1-1.8-.826l-4.319-2.09c-.131-3.819-.12-7.616-.283-11.435.1.05 5.9 2.82 6.006 2.851h.175q0 2.078.1 4.178l-.009-.022c-.005 2.453.087 4.899.126 7.349Zm-5.376 13.121 4.157 1.97c.359.175.956.6 1.468.805a6.244 6.244 0 0 1 .044.772q.075 3.558.184 7.116a557.896 557.896 0 0 0-5.853-2.274c.093-2.79.083-5.587-.004-8.384Zm.022-.934-.012.01c-.216-7.6-.56-10.015-.75-14.329 5.943 2.774 5.66 2.726 6.1 2.785.076 4.722.206 9.694.3 14.416-.17-.07-4.761-2.454-5.642-2.877Zm-5.832-1.753-.012-.044 5.049 2.416c.131 2.905.316 5.8.61 8.7l-5.593-2.176c.127-2.975-.004-5.963-.058-8.891Zm-25.48-12.131q2.9 1.284 5.8 2.6c.26 3.8.554 7.616 1.023 11.348h.075c-.152-3.688-.293-7.387-.5-11.076l1.371.62 4.2 2.068v.609c.152 1.857.729 8.356.729 8.356a10.217 10.217 0 0 0 .131 1.773q-6.159-2.349-12.382-4.613c-.024-.558.056-4.089-.451-11.68Zm-7.9-18.431 6.29 2.742c0 1.73.108 3.47.26 5.19.284 3.176.512 6.364.729 9.552l-6.354-3c-.152-3.1-.337-6.223-.554-9.335l.032-.076a484.61 484.61 0 0 0-.408-5.068Zm-7.159-15.308 5.908 2.7v.38c.066 1.97.175 3.928.337 5.887.154 1.8.317 3.579.47 5.363 0 0-3.962-1.9-5.909-2.806-.548-6.272.043-4.123-.811-11.519Zm-.673-1.361q-3.4-1.6-6.812-3.144a103.649 103.649 0 0 0-.576-4.036l7.289 3.231a27.827 27.827 0 0 0 .094 3.954Zm6.581 1.491v1.676s-4.569-2.2-6.071-2.938c-.174-1.371-.348-2.742-.566-4.1l6.637 3a12.173 12.173 0 0 0-.005 2.367Zm-13.828-4.787q-3.721-1.686-7.475-3.329-.282-2.025-.6-4.037l.239.055q3.777 1.665 7.519 3.394a10.673 10.673 0 0 0 .14 2.035 18.538 18.538 0 0 0 .172 1.887Zm-2.916-.445 3.035 1.446c.207 1.882.468 3.766.7 5.647s.426 4.1.588 6.158q-3.643-1.632-7.311-3.2c-.239-2.3-.445-4.591-.739-6.887q-.339-2.653-.708-5.32Zm3.481 1.685 6.735 3.079-.01.044v.163q.163 3.015.445 6.017c.174 1.806.381 3.612.579 5.44q-3.266-1.543-6.661-3.036c-.364-3.899-.645-7.807-1.093-11.699Zm19.792 6.311c0 .708.1 1.4.152 2.112l-6.18-3.026c-.1-1.4-.218-2.807-.414-4.2l6.355 2.905a10.88 10.88 0 0 0 .082 2.214Zm.762 8.911c.152 2 .2 3.829.26 5.744q-3.175-1.5-6.343-3.035c-.668-9.863-.3-5.791-.653-11.588l6.158 2.72v.185c.181 1.997.42 3.977.573 5.979Zm25.959 6.321 5.581 2.676q0 2.667.153 5.321.163 3.078.283 6.18l-5.6-2.7c-.183-3.823-.205-7.612-.422-11.472Zm.5 26.308q-3.121-1.425-6.245-2.818c-.13-3.536-.305-7.094-.63-10.652l-.012-.011c-.13-1.327-.216-2.665-.3-4l6.809 3.264c-.008.11.102 8.674.373 14.222Zm-.325-14.939-6.834-3.2c-.217-3.883-.3-7.778-.565-11.653l6.778 3.275c.065 1.643.174 3.264.284 4.907q.213 3.339.332 6.676Zm-7.019.653c.1 3.732.219 7.464.448 11.185l-5.094-2.274c-.228-3.633-.445-7.268-.837-10.88l-.01-.021a127.814 127.814 0 0 1-.349-4.081l5.712 2.731c-.002 1.093.098 2.183.125 3.345Zm-5.332 8.611-2.459-1.088c-1.087-.467-2.067-.957-3.089-1.446-.186-3.265-.415-6.529-.751-9.793l-.011-.065a116.28 116.28 0 0 1-.424-5.19q2.925 1.35 5.842 2.731c.142 1.948.25 3.884.326 5.843.116 3.003.322 6.006.566 9.008Zm-6.158-2.839-5.81-2.786q-.369-5.244-.914-10.466a117.457 117.457 0 0 1-.358-4.417l6.212 2.8c.1 2.034.162 4.048.294 6.06v-.022c.202 2.934.376 5.882.572 8.831ZM65.4 126.052c-.25-3.949-.38-7.9-.707-11.837q3.025 1.34 6.028 2.731c.021.2.023.315.032.4.21 1.988.415 3.982.577 5.984s.239 3.776.316 5.68Zm-8.083-2.905 1.208.523c.131 1.675.25 3.351.293 5.038q.132 4.612.392 9.225l-5.506-2.6c-.173-2.677-.925-12.36-1.088-14.416 1.556.773 3.123 1.523 4.701 2.23Zm8.888 18.877c.273 3.961.544 7.921.9 11.87l-6.616-2.4c-.183-4.08-.369-8.16-.587-12.24Zm13.166 6.1 5.156 2.492c.3 4.455.909 10.007.925 10.107l-5.483-2.034c-.25-3.511-.412-7.036-.598-10.561Zm5.8 2.829 6.267 3.035c.163 3.1.4 6.2.751 9.3l-6.41-2.427c-.316-3.261-.466-6.597-.609-9.904Zm6.355-8.889a84.21 84.21 0 0 1-.2-3.166l5.638 2.665v2.351l.021-.021c.066 3.948.13 7.865.283 11.793 0 0-3.885-1.807-5.038-2.329a283.825 283.825 0 0 0-.705-11.289Zm4.8-18.057.128 4.456-5.646-2.676a81.272 81.272 0 0 0-.4-4.439 6.091 6.091 0 0 0-.109 2.089v2.176l-1.088-.652q-2.784-1.294-5.592-2.556-.164-2.244-.446-4.484c4.445 2.042 13.151 6.09 13.151 6.09ZM83.831 134.67l-5.731-2.644c-.273-3.95-.414-7.921-.74-11.871l5.614 2.709c.026.285.546 4.036.857 11.806Zm-.892-12.534-5.6-2.525a85.98 85.98 0 0 0-.512-4.559l6.116 2.808a27.372 27.372 0 0 0-.004 4.276Zm-5.711 4.286c.2 1.817.358 3.612.49 5.44l-5.833-2.7c-.25-3.982-.413-7.975-.761-11.968q2.829 1.317 5.647 2.665a.624.624 0 0 1 0 .251c.097 2.102.229 4.212.457 6.312Zm-18.05-46.5Q43.476 85.449 28.1 91.432c-.316-1.719-.621-3.46-.947-5.168-.446-5.175-2.707-5.368-5.984-7.05-.985-.424-6.4-2.846-6.059-3.961.227-.7 1.587-1 2.176-1.164 1.907-.552 3.8-.6 4.961-1.077 1.408.722 12.291-2.121 13.807-2.557 9.11-2.891 8.925-3.85 14.2-3.971 2.8.12 5.625 1.284 8.3 2.078 5.847 1.735 5.132 1.086 5.517 3.667.014.1.709 5.109.783 5.527a.29.29 0 0 0 .055.207c-1.923.598-3.839 1.283-5.731 1.958ZM29.8 93.858l5.548 2.394c.152 1.327.315 2.654.479 3.982q-3.264-1.446-6.648-2.862l-.739-4.047a11.761 11.761 0 0 0 1.36.533Zm1.535 4.842 4.613 2.264c.511 4.1 1.088 8.2 1.6 12.3l-5.9-2.5-2.38-13.054a19.882 19.882 0 0 0 2.067.99Zm2.35 13.349 3.874 1.818c.326 2.524.631 5.037.891 7.616s.621 5.07 1 7.616l-4.928-2.089-2.882-15.841a21.34 21.34 0 0 0 2.045.88Zm4.352 2.035 7.269 3.34c.325 4.212.588 8.433 1.088 12.622.075.717.173 1.426.26 2.175q-3.111-1.392-6.244-2.753c-.937-6.007-1.787-10.268-2.373-15.384Zm7.584 3.46 6.691 3.264c.173 1.719.326 3.449.414 5.18q.228 4.612.576 9.205-2.949-1.373-5.919-2.71c-.215-1.458-.853-5.163-1.762-14.939Zm7.595 18.714c.347 4.352.794 8.78 1.446 13.143l-6.362-2.307a112.24 112.24 0 0 0-.969-13.61q2.935 1.404 5.885 2.774Zm2.7 14.286A68.637 68.637 0 0 0 52.584 157a9.267 9.267 0 0 0 0 7.779c-12.565-5.134-12.119-4.116-12-5.593 0 0 .468-5.625.544-6.463.185-1.849.635-1.164 7.856-4.21a4.542 4.542 0 0 0 .815-.348Zm-1.209-1.089c-.4-4.352-.7-8.616-.989-12.925h.1q2.676 1.24 5.374 2.426c0 .676.078 1.348.12 2.024.217 3.5.494 7 1.033 10.466Zm15.972 6.659c35.919 13.509 33.65 12.833 33.968 12.414l3.6-2.176c.478.291 5.042 2.465 13.328 6.507-.1.061-18.57 11.141-18.671 11.141-1.371-.315 8.5 3.047-43.02-16.711-1.652-.647-4.544-1-5.286-4.788-.618-3.159 1.355-6.223 2.992-9.368.3-.587.456-1.208.761-1.719q6.114 2.361 12.326 4.7Zm34.1 11.555a14 14 0 0 0-.184-1.5c-.044-.848-.218-5-.262-6.245a4.389 4.389 0 0 0 1.088-.674l3.395-2.166c0 2.634.1 5.277.24 7.91Zm4.06-11.642c-1.165.772-4.254 2.807-4.593 2.917l.022-.012c-.076-2.035-.412-14.46-.412-14.46.3-.137-.373.238 5.385-3.046a33.521 33.521 0 0 1-.121 3.471c-.21 3.633-.297 7.485-.285 11.13Zm.391-15.831c-.1.069-5.285 3.6-5.385 3.656l-.251-11.631c6.476-3.578 5.629-3.092 5.745-3.155-.175 3.647-.092 4.871-.113 11.134Zm-5.657-8.714c-.041-3.35.1-3.455-.154-3.972.1-.033 6.238-3.165 6.344-3.22a12.312 12.312 0 0 0-.249 1.762c0 .631-.088 1.252-.121 1.884-2.039 1.224-5.216 3.304-5.824 3.546Zm6.015 24.131c0-2.959.088-6.189 0-9.149V141.2l6.355-3.71c0 1.023-.087 2.046-.12 3.068-.13 3.623-.066 7.617-.164 11.24-.37.37-4.47 2.817-6.071 3.841Zm.076-15.656a39.628 39.628 0 0 1 .186-4.635l-.033-.042c.141-2.176.174-4.352.141-6.528l6.366-3.505c0 4.98 0 4.179-.272 10.946-4.174 2.255-5.711 3.351-6.392 3.764ZM44.706 64.8a15.479 15.479 0 0 1 8.389-.272c.208.058 9.459 2.777 11.4 3.633 1.861 1.023 1.72 4.244 1.948 6.039a15.784 15.784 0 0 1 .359 3.46 3.942 3.942 0 0 0-1.4.13 6.057 6.057 0 0 0-.086-.838c-.823-5.485-.434-6.939-2.046-7.55-1.958-.762-4.046-1.273-6.06-1.893-4.527-1.393-7.413-2.664-12.5-.925a1.716 1.716 0 0 0-.369-1.687Zm-4.318.37c.838-.229 2.17-.791 2.97-.425a1.556 1.556 0 0 1 .8 2.024c-2.168.992-2.51.97-4.974 1.94-1.44.567-13.1 3.639-14.789 3.888a4.176 4.176 0 0 1-1.833.145c.4-.552.411-2.465-.665-2.535.042-1.055 5.219-1.495 18.491-5.039Zm-3.841 77.55c-1.262.871-1.72-.956-1.894-1.795h-.032c-.566-2.981-10.029-55.509-10.434-57.12-.4-1.23-1.936-1.621-2.982-2.176l-4.351-2.176c-1.208-.61-2.763-1.088-3.515-2.339a3.2 3.2 0 0 1 .3-3.678C15.2 72 15.726 72.31 21.761 70.727c.184.1.447.087.576.294.146.42.037.587 0 1.142-1.2 1.172-8.3 1.023-7.745 3.471.374 1.507 5.092 2.987 8.539 4.983 3.982 2.176 3.8 7.192 4.5 11.185 1.653 9.487 7.616 40.887 8.812 47.132.157.86 1.082 3.112.104 3.786Zm.25.229c.739-.664.358-1.762.206-2.611v.023L34.621 127.3c.428.263 4.873 2.336 4.973 2.382 0 0 1.838 12.186 1.99 13.383a4.9 4.9 0 0 0 .348 1.719Zm5.363 1.951c-.442-6.024-1.144-10.591-1.718-14.765l6.3 3.025c1.64 13.24 1.251 11.84 1.523 13.902Zm-4.569 20.236.011-.01a1.949 1.949 0 0 1 1.208-2.056c1.153-.315 1.468 1.37.9 2.284a21.589 21.589 0 0 1-2.285 3.047 21.912 21.912 0 0 1 .166-3.268Zm.577 6.376c-2.938-.076-3.8-4.482-1.251-5.56a17.06 17.06 0 0 0 .083 1.902c0 .413 0 1.088.6.979s1.3-1.317 1.578-1.708l.511-.707c.076.142.228.272.37.478h.01c1.325 1.969.45 4.685-1.901 4.613Zm63.421 22.827a2.929 2.929 0 0 1-.36-5.418v.762c0 .5-.25 2.176.544 1.848a11.367 11.367 0 0 0 1.992-2.175c2.044 1.705 1.01 5.949-2.176 4.98Zm.978-7.508 1.262.49c.066 1.076-1.367 2.5-1.935 3.236-.001-.883-.083-3.036.673-3.729Zm14.058-18.648c2.48 1.251 5.058 2.339 7.5 3.678a12.25 12.25 0 0 1 3.558 2.556c2.311 2.7-1.653 4.286-8.736 8.824-3.737 2.376-7.521 6.559-14.134 4.069a4.029 4.029 0 0 0-1.11-.4c-1.761-.663-3.492-1.49-5.135-2.175-14.746-5.905-58.35-22.99-58.35-22.99a5.9 5.9 0 0 1-.108 1.251 1.614 1.614 0 0 0-1.534-.37c0-.695.447-10.191.87-11.379.6-1.677 2.4-2.068 3.906-2.677a27.823 27.823 0 0 1 3.635-1.48l2.175.848c-.131.066-.261.141-.392.2-7.435 3.03-7.832 2.059-8.039 4.754-.056.686-.6 6.529-.48 7.16.075.413 11.805 4.874 13.164 5.44a9.9 9.9 0 0 1-.108-9.009 49.033 49.033 0 0 1 3.057-5.733l1.578.6a29.371 29.371 0 0 1-2 4.123c-1.536 3-2.99 6.029-1.088 9.172a5.163 5.163 0 0 0 2.045 1.948c52.921 20.4 44.318 18.994 47.937 17.147l17.811-10.9c-6.763-3.2-9.338-4.658-13.708-6.887l1.381-.849Zm-1.111-7.05-6.06 3.655a20.2 20.2 0 0 0 0-3.188l.11-4.972s5.058-3.253 6.081-3.916c0 1.425-.053 2.862-.131 4.287a31 31 0 0 0 0 4.131Zm6.321-3.96s-4.725 2.97-6.21 3.858c.292-2.886.467-5.771.574-8.679 1.894-1.229 3.973-2.643 5.867-3.884 0 .053-.088 4.556-.231 8.702Zm-5.646-5.625c.185-3.265.185-6.888.109-10.13l.012-.011v-4.091l6.19-3.616c0 1.371 0 2.731-.076 4.113-.272 3.264-.25 6.745-.347 10.031-1.895 1.156-4.006 2.525-5.888 3.701Zm5.9 5.5c.349-2.976.564-5.973.707-8.979l5.069-3.385c-.239 3-.414 6.006-.457 9.019Zm8.268-5.357a94.745 94.745 0 0 1-2.664 1.775c.228-2.764.444-6 .749-9.184.958-.609 3.58-2.177 4.19-2.634-1.449 10.417-.615 9.014-2.277 10.038Zm2.437-10.456c-1.338.783-2.883 1.763-4.222 2.557.284-3.362.708-6.855.86-10.217l.021.034a91.51 91.51 0 0 1 .316-4.168c1.839-1.088 4.679-2.883 5.2-3.264-.794 5-1.503 10.023-2.177 15.053Zm4.362-27.7c-2.077 1.023-4.133 2.08-6.2 3.112 0-.989.087-1.969.1-2.97-.29.256-.272 1.22-.567 3.2-2.263 1.088-4.537 2.275-6.788 3.438v-2.825a12.561 12.561 0 0 0-.415 3.058c-2.175 1.088-4.3 2.23-6.44 3.361 0-1.088 0-2.176-.075-3.264 6.9-3.492 13.838-7.2 21.008-10.282a214.624 214.624 0 0 0-.625 3.166Zm10.6 54.651.011.012h.076a8.27 8.27 0 0 1 0 3.089c-.305 1.012-1.4 1.034-2.317 1.186-5.438.778-13.968.444-9.117-2.078 1.762-.924 3.676-1.578 5.44-2.416H142l1.871.142a26.946 26.946 0 0 0 3.881.059Zm14.057 4.908.01.01c-.293 1.023-1.381 1.088-2.294 1.219-1.683.266-9.353.919-10.37-.218-1.216-1.363 4.163-2.942 7.16-4.483.805.131 1.622.25 2.438.337a6.294 6.294 0 0 0 2.914.056 8.245 8.245 0 0 1 .138 3.073Zm15.914-109.733c-2.176 1.513-4.353 2.524-7.061 2.176-6.15-1.185-14.614-7.982-17.159-15.351 1.08 6.342 8.013 12.526 14.352 15l.206.424c1.119 2.7.939 5.723-1.556 7.105-9.923 6.3-22.542 9.792-34.044 5.908a7.77 7.77 0 0 1-1.577-.707c7.474-4.015 14.862-8.2 22.087-12.6q-11.565 5.647-22.849 11.969a2.956 2.956 0 0 1-.477-.675c-.773-1.545-.817-3.6-1.088-5.3-1-10.832-2.044-9.093-3.036-15.385-.27-7.032 6.565-16.518 5.429-16.45a58.511 58.511 0 0 0-4.69 9.792c-1.266 3.3-1.915 6.234-.9 9.607a70.8 70.8 0 0 1 1.894 7.039 30.328 30.328 0 0 1-10.216 2.47 103.025 103.025 0 0 0 5.168-6.267 106.724 106.724 0 0 0-6.527 6.3 18.974 18.974 0 0 1-10.467-2.949 16.421 16.421 0 0 1-1.9-1.5q5.181-10.029 9.792-20.345c1.583 3.715 1.123 3.724 2.176 5.679.654.773 1.219-.674 1.546-1.164a35.532 35.532 0 0 1 8.7-9.422 16.152 16.152 0 0 1 5.92-2.709h.152a12.179 12.179 0 0 1 3.351-.152h.088c-2.345 2.3-3.911 4.3-4.45 7.507-.512 3.525 2.686 5.973 5.744 3.753 2.55-1.816 2.265-2.566 2.97-1.523 2.455 3.836 8.462 3.912 9.413-2.894.239-1.774.184-3.547.564-5.3.077-.371 1.154-3.8 1.36-4.581a12.328 12.328 0 0 1 12.516 2.084c7.608 5.928 7.291 11.8 8.3 10.01.328-.6-.514-1.433.674-7.127 1.135-5.537 4.21-9.994 7.018-11.914.827-.5 2.493.066 3.449.218a5.118 5.118 0 0 1 1.566.272c.762.446 1.089 2.459 1.263 3.264a47.92 47.92 0 0 1 1.49 7.464c1.189 9.726-.673 20.313-9.191 26.274Z" /><path d="M104.9 185.425a10.931 10.931 0 0 0 4.351.968 8.913 8.913 0 0 0 4.2-1.5 107.306 107.306 0 0 0 13.089-8.465c.669-.556.934-.47-.772-1.882-.261-.218-1.088-1.023-1.511-1.023-.1 0-12.606 7.8-12.709 7.866Zm20.18-10.5c.524.326 1.089.729 1.089.968h-.033c0 .12-.174.185-.239.272l-.184.185a.785.785 0 0 0-.1-.2 2.4 2.4 0 0 0-.805-.718 1.706 1.706 0 0 0 .269-.506Zm-2.511.5 1.717-.957a30.57 30.57 0 0 0-1.717 2.72Zm-.655.544a9.49 9.49 0 0 0 0 1.349c0 .621-.053 1.306.73.806a6.614 6.614 0 0 0 1.414-1.611 3.264 3.264 0 0 1 .489.675c-1.488.994-1.73 1.172-3.492 2.306a2.34 2.34 0 0 1 .856-3.524Zm-1.446 3.917c-8.684 5.573-9.607 6.741-14.5 5.418 4.561-3 9.39-5.6 14.145-8.334a3.539 3.539 0 0 0 .352 2.917ZM139.864 8.754c.316.251.631.49.936.751a10.866 10.866 0 0 1 2.938 4.167c.588 1.523.75 3.177 1.337 4.711 1.208 3.134 4.222 4.472 7.269 5.277-2.558-4.1.076-9.248-1.35-13.633A7.2 7.2 0 0 0 144.336 5a5.238 5.238 0 0 0-3.493 1.283 6.091 6.091 0 0 0-1.229 1.524c-.327.555-.251.555.25.947ZM58.634 49.25a118.044 118.044 0 0 0 12.4 21.129 205.8 205.8 0 0 0-12.4-21.129ZM80.351 63.111s-5.244-30.432-6.692-37.841a300.9 300.9 0 0 0 7.9 44.75ZM89.9 70.02a59.4 59.4 0 0 0 2.013-18.5c-1.173 6.053-1.455 12.353-2.013 18.5Z" /></svg>
        <span class="notranslate" data-translate="emptycart">
            Your Cart is Empty
        </span>
        
       
    </div>

}
