@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "/Pages/Shared/_LayoutBlank.cshtml";
}

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@
<div class="container paddingtb-15">
    <div class="row box-center d-grey-c">
        <div class="col-md-4">
            <h1 class="l-bold">@Model.Title</h1>
            <br/>
           <h3 class="bold no-margin line30">
                @Model.Message
            </h3>
            <p class="lind20">
                @Model.Body
            </p>

            <p class="lind20">
                @Model.ExceptionMessage 
            </p>
        </div> 
        @* <div class="col-md-4 m-none">
            <div class="q-mark">
          

            </div>
        </div> *@
    </div>
<h3></h3>


</div>
