@using AMMasterProject.ViewModel

@model List<ProductViewModel>
@* Repeat*@
@if (Model != null && Model.Count > 0)
{

    <div class="container">


        <h3 class="bold padding10 mydiscount-head mobile-heading ">
            <span class="notranslate" data-translate="flashsale">Flash Sale  </span>
        </h3>

        <div class="swiper mydiscount">
            <div class="swiper-wrapper no-margin product-box-8 no-bg " id="dvproductboost">



                @foreach (var product in Model)
                {


                    <div class="swiper-slide">
                        <div class="product-box row">


                            <a href="/item/@product.ProductSeourl">
                                <div class="p-img">
                                    <img src="@product.ProductImage" />


                                </div>

                                <div class="p-data">

                                    <div class="p-title">
                                        @product.ProductName
                                    </div>

                                    <div class="p-price">
                                        @product.Currency  @product.Price.ToString("N2")

                                        <span class="p-old-p"> @product.PriceBeforeDiscount.ToString("N2") </span>
                                    </div>




                                </div>

                            </a>



                        </div>
                    </div>

                }


                


            </div>


        </div>
        
        <script>
                  var swiper = new Swiper(".mydiscount", {
                      slidesPerView: 1.8,
                      spaceBetween: 2,
                      autoplay: {
                          delay: 3500,
                          disableOnInteraction: false
                      },
                      pagination: {
                          el: ".swiper-pagination",
                          clickable: true,
                      },
                      breakpoints: {
                          640: {
                              slidesPerView: 3,
                              spaceBetween: 10,
                          },
                          768: {
                              slidesPerView: 6,
                              spaceBetween: 10,
                          },
                          1024: {
                              slidesPerView: 8,
                              spaceBetween: 10,
                          },
                      },
                  });
        </script>
    </div>
}

                                    