@page
@model AMMasterProject.Pages.Admin.careers.IndexModel
@{
    <title>Jobs</title>


    Layout = "/Pages/Shared/_layoutAdmin.cshtml";
}

<form method="post">


<div class="row no-margin">
    <div class="col-md-2">
        <div class="nav nav-pills flex-column flex-md-row mb-3">
                <a class="nav-link" href="~/admin/careers">
                <i class="bx bx-list-ul me-1"></i>
                List
            </a>
            <a class="nav-link" href="~/admin/careers/add"><i class="bx bx-plus me-1"></i> Add </a>
                <a class="nav-link" href="~/admin/careers/category"><i class="bx bx-plus me-1"></i> Category </a>

        </div>
    </div>
    <div class="card col-md-10">

        <div class="table-responsive text-nowrap">
            <table id="ListingLoad" class="table">
                <thead class="table-secondary">
                    <tr>



                        <th  class="text-center">Title</th>
                     @*   <th  class="text-center">Category</th>*@
                        <th  class="text-center">Posting Date</th>
                        <th  class="text-center">Application</th>
                        <th  class="text-center">Status</th>
                        <th  class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @*     Loop start*@

                    @foreach (var item in Model.careerlist)
                        {
                            
                       
                    <tr>


                        <td class="text-center">
                           
                           @item.Title
                        </td>
                       @* <td class="text-center">
                            @item.
                        </td>*@
                        <td class="text-center">
                            @item.InsertDate
                        </td>
                        <td class="text-center">
                            <span class="badge grey-bg white-c">@item.TotalApplication</span> Applied
                        </td> <td class="text-center">
                           @item.IsPublish
                        </td>
                        <td class="center">
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">

                                            <a href="/admin/careers/add?ID= @item.CareerId" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> Edit</a>

                                            <button formnovalidate asp-page-handler="Delete" asp-route-careerid="@item.CareerId" onclick="return confirm('Are you sure you want to delete?')" class="dropdown-item"><i class="bx bx-trash"></i> Delete</button>

                                </div>
                            </div>
                        </td>
                    </tr>

                    @*     Loop End*@
                        }

                </tbody>
            </table>
        </div>
    </div>
</div>

</form>