@using AMMasterProject.ViewModel;
@using Newtonsoft.Json;
@model ClientViewModel;

@{
   
    //var SubscriptionListModel = Model.SubscriptionPurchaseModel;
}

@if(Model!=null )
{


@*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>*@

    var creditModel = Model.CreditPurchaseModel;
<div class="chart-svg">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card padding30 grey-c mb-4">
                <div class="box-left">

                    @if (Model.Image != null)
                    {
                        <img src="@Model.Image" alt="userimage" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png" style="height: 80px;width: 80px;margin: -3px 25px 0px 5px;border-radius: 100px;border: solid 1px #ccc;" class=" " width="80" height="80">
                    }

                    <div>
                        <h5 class="card-title no-margin h-40 s-bold d-grey-c">
                           @Model.FirstName @Model.LastName
                        </h5>
                        <p class="blue-c no-margin s-bold">
                            @Model.LoginName
                            @Model.LoginChannel
                        </p>
                        <small class="small grey-c s-bold">@Model.userothermetadata.BuyerLevelName</small>
                        <p> @Model.About</p>
                    </div>
                </div>


                <hr />
                <p class="">
                    <span class="s-bold d-grey-c"> Display Name :</span>
                    <span class="float-end ">@Model.Displayname</span> <br>
                </p>
                <p class="">
                    <span class="s-bold d-grey-c"> Member since :</span>
                    <span class="float-end ">@Model.InsertDate</span> <br>
                </p>

                <p class="">
                    <span class="s-bold d-grey-c"> Phone Number :</span>
                    <span class="float-end ">@Model.Contact</span> <br>
                </p>
                <p class="">
                    <span class="s-bold d-grey-c"> Email:</span>
                    <span class="float-end ">@Model.Email</span> <br>
                </p>
                <p class="">
                    <span class="s-bold d-grey-c"> Address:</span>
                    <span class="float-end ">@Model.Address</span> <br>
                </p>
            </div>
            <div class="card ">
                <div class="card-header padding15 d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">Orders: @Model.PurchaseQtyTotal</h5>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                        </div>
                    </div>
                </div>
                <div class="card-body padding15">
                    <div id="appordersall">
                        <div id="chart">
                            <apexchart type="donut" height="230" :options="chartOptions" :series="series"></apexchart>
                        </div>
                    </div>

                    <p>
                        <span class="badge rounded-pill" style="background:#f4bb4e; display:inline-block"> </span>  Pending Orders:   <span class="grey-c float-end">14 Orders</span>
                    </p>
                    <p>
                        <span class="badge rounded-pill" style="background:#27aae1; display:inline-block"> </span>  Processing Orders:   <span class="grey-c float-end">14 Orders</span>
                    </p>
                    <p>
                        <span class="badge rounded-pill" style="background:#04df0c; display:inline-block"> </span>  Delivered Orders:   <span class="grey-c float-end">14 Orders</span>
                    </p>
                    <p>
                        <span class="badge rounded-pill" style="background:#ff4254; display:inline-block"> </span>  Cancelled Orders:   <span class="grey-c float-end">14 Orders</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row ">



                @*Wishlist*@
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start">
                                <div class="avatar flex-shrink-0 margin5">
                                    <span class="badge purple-bg p-2 "><i class="bx bxs-user white-c no-margin"></i></span>
                                </div>
                                <div>
                                    <span class="fw-semibold d-block mb-1">Wishlist</span>
                                    <h4 class="card-title mb-2">@Model.WishListTotal</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*Coupons Used*@
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start ">
                                <div class="avatar flex-shrink-0 margin5">
                                    <span class="badge orange-bg p-2 "><i class='bx bx-list-ul white-c no-margin'></i></span>
                                </div>
                                <div>
                                    <span class="fw-semibold d-block mb-1">Coupons Used </span>
                                    <h4 class="card-title mb-2">28</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                @*Posted Request*@
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start ">
                                <div class="avatar flex-shrink-0 margin5">
                                    <span class="badge blue-bg p-2 ">
                                        <i class='bx bxs-user-voice no-margin white-c'></i>

                                    </span>
                                </div>
                                <div>
                                    <span class="fw-semibold d-block mb-1">Posted Request</span>
                                    <h4 class="card-title mb-2">20</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                @*followers*@
                <div class="col-lg-3 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start ">
                                <div class="avatar flex-shrink-0 margin5">
                                    <span class="badge blue-bg p-2 ">
                                        <i class='bx bxs-user-voice no-margin white-c'></i>

                                    </span>
                                </div>
                                <div>
                                    <span class="fw-semibold d-block mb-1">Following Sellers</span>
                                    <h4 class="card-title mb-2">@Model.FollowingSeller</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="card mb-4">
                <h5 class="card-header m-0 me-2 pb-3">
                    Total Purchasing


                    <span class="card-title float-end h3 ">@Model.PurchaseAmountTotal.ToString("N2")</span>
                </h5>
                @* Revenue chart *@
                <div id="apprevenue">
                    <div id="revenuechart">
                        <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
                    </div>
                </div>
            </div>
            <div class="card  padding15">
                <h5>
                    Affiliate Details

                </h5>
                <a class="theme-c">link here</a>

                <div class="row ">



                    @*Signup*@
                    <div class="col-lg-3">
                        <div>
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start">
                                    <div class="avatar flex-shrink-0 margin5">
                                        <span class="badge purple-bg p-2 "><i class="bx bxs-user white-c no-margin"></i></span>
                                    </div>
                                    <div>
                                        <span class="fw-semibold d-block mb-1">Signup</span>
                                        <h4 class="card-title mb-2">28</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @*Listings*@
                    <div class="col-lg-3">
                        <div>
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start">
                                    <div class="avatar flex-shrink-0 margin5">
                                        <span class="badge orange-bg p-2 "><i class='bx bx-list-ul white-c no-margin'></i></span>
                                    </div>
                                    <div>
                                        <span class="fw-semibold d-block mb-1">Orders</span>
                                        <h4 class="card-title mb-2">28</h4>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    @*Purchase *@

                    <div class="col-lg-3">
                        <div>
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start">
                                    <div class="avatar flex-shrink-0 margin5">
                                        <span class="badge green-bg p-2 "><i class='bx bx-list-check no-margin white-c'></i></span>
                                    </div>
                                    <div>
                                        <span class="fw-semibold d-block mb-1">Purchase</span>
                                        <h4 class="card-title mb-2">$628</h4>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>

    </div>
    <div class="mb-4">
        <div class="row ">


            <!-- Credit system Statistics -->
            <div class="col-md-6 col-lg-4 order-1">
                <div class="card h-100 no-margin">



                    <div class="card-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                                <button id="creditTabButton" type="button" class="nav-link text-start active" role="tab" data-bs-toggle="tab" data-bs-target="#creditsales" aria-controls="creditpurchase" aria-selected="true">

                                    Credit System
                                </button>
                            </li>


                        </ul>
                    </div>
                    <div class="card-body px-0">
                        <div class="tab-content p-0">
                            <div class="tab-pane fade show active" id="creditsales" role="tabpanel">
                                <div class="d-flex p-4 pt-3">

                                    <div>
                                        <small class="text-muted d-block">Total Credit Purchase</small>
                                        <div class="d-flex align-items-center">
                                            <h6 class="mb-0 me-1">@creditModel.CreditQTY    </h6>

                                        </div>
                                    </div> 
                                    
                                    <div class="paddingrf-15">
                                        <small class="text-muted d-block">Total Credit Used</small>
                                        <div class="d-flex align-items-center">
                                            <h6 class="mb-0 me-1">@creditModel.CreditUsed</h6>

                                        </div>
                                    </div>

                                    <div class="paddingrf-15">
                                        <small class="text-muted d-block">Total Purchased</small>
                                        <div class="d-flex align-items-center">
                                            <h6 class="mb-0 me-1">@creditModel.ActualCurrency @creditModel.CreditPurchasedAmount.ToString("N2")</h6>

                                        </div>
                                    </div>
                                    
                                </div>
                                <div id="appcreditPurchased">
                                    <div id="chart">
                                        <apexchart type="area" height="350" :options="chartOptions" :series="series"></apexchart>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <!-- OR -->
            <!-- Subcribtion Overview -->
            <div class="col-md-6 col-lg-4 order-1">
                <div class="card h-100 no-margin">



                    <div class="card-header">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                                <button id="creditTabButton" type="button" class="nav-link text-start active" role="tab" data-bs-toggle="tab" data-bs-target="#creditsales" aria-controls="creditpurchase" aria-selected="true">

                                    Subcription System
                                </button>
                            </li>


                        </ul>
                    </div>
                    <div class="card-body px-0">
                        <div class="tab-content p-0">
                            <div class="tab-pane fade show active" id="Subcription" role="tabpanel">
                                <div class="d-flex p-4 pt-3">

                                    <div>
                                        <small class="text-muted d-block">Total Subcription</small>
                                        <div class="d-flex align-items-center">
                                            <h6 class="mb-0 me-1">$459.10</h6>

                                        </div>
                                    </div> <div class="paddingrf-15">
                                        <small class="text-muted d-block">Subcription Expire</small>
                                        <div class="d-flex align-items-center">
                                            <h6 class="mb-0 me-1">$459.10</h6>

                                        </div>
                                    </div>
                                </div>
                                <div id="appsubscription">
                                    <div id="chart">
                                        <apexchart type="rangeBar" height="350" :options="chartOptions" :series="series"></apexchart>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <!-- Revenue Statistics -->

            <div class="col-lg-4 col-md-4 order-1">


                <div class="card h-100 no-margin">
                    <div class="card-header padding15 d-flex align-items-center justify-content-between pb-0">
                        <div class="card-title mb-0">
                            <h5 class="m-0 me-2">Community Statistics</h5>

                        </div>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <br />
                        <ul class="p-0 m-0">
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <span class="avatar-initial rounded bg-label-secondary">
                                        <i class='bx bx-chevron-right'></i>
                                    </span>
                                </div>

                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Forum</h6>

                                    </div>
                                    <div class="user-progress">
                                        <small class="fw-semibold">82.5k</small>
                                    </div>
                                </div>
                            </li>

                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <span class="avatar-initial rounded bg-label-secondary">
                                        <i class='bx bx-chevron-right'></i>
                                    </span>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Events</h6>

                                    </div>
                                    <div class="user-progress">
                                        <small class="fw-semibold">23.8k</small>
                                    </div>
                                </div>
                            </li>


                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <span class="avatar-initial rounded bg-label-secondary">
                                        <i class='bx bx-chevron-right'></i>
                                    </span>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Donation</h6>

                                    </div>
                                    <div class="user-progress">
                                        <small class="fw-semibold">849k</small>
                                    </div>
                                </div>
                            </li>



                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script src="~/admin-assets/js/charts.js"></script>


<script>
    const jsonDataPurchased = @Html.Raw(JsonConvert.SerializeObject(@creditModel.MonthsPurchasedJson));
    const jsonDataUsed = @Html.Raw(JsonConvert.SerializeObject(@creditModel.MonthsUsedJson));
  
    initializeChartCreditPurchased(jsonDataPurchased, jsonDataUsed);


   
    var transformedData = @Html.Raw(JsonConvert.SerializeObject(Model.SubscriptionPurchaseModel));
    const chartData = transformedData.map(item => ({
        x: item.PackageName,
        y: [
            new Date(item.SubscriptionDate).getTime(),
            new Date(item.RenewDate).getTime()
        ]
    }));

    console.log(chartData);
    // Initialize the chart with transformed data
    initializeChartSubscription(chartData);
    
    
   
</script>
}